h2 {
	color: blue;
	font-family: 'Indie Flower', cursive;
}
h1 {
	color: navy;
	font-family: 'Sigmar One', cursive;
}
h3 {
	color: blue;
	font-family: 'Indie Flower', cursive;
}

.jumbotron {
	background-image: url("../images/header.jpg");
	background-size: cover;
	color: #ff085e;
}

.jumbotext {
	color: #ff80c0;
	font-family: 'Indie Flower', cursive;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}

.hide_radio {
	display: none !important;
}

.label_star {
	opacity: 0.1;
}

.hide_radio:checked+label {
	opacity: 1;
}

label {
	cursor: pointer;
}

span.stars, span.stars span {
    display: block;
    background: url("../images/starsE.png") 0 -128px repeat-x;
    width: 640px;
    height: 128px;
}

span.stars span {
    background-position: 0 0;
}

span_center{
	margin-left: auto;
	margin-right: auto;
}
h2{
	font-family: 'Indie Flower', cursive;
}